.git/
.idea/
.pytest_cache/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.coverage*
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
build/
dist/
images/
notes/
fiji-linux/
docker/disabled-share/
mesospim_utils/config/main.yaml
**/__pycache__/
**/*.py[cod]
